<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/index" routerLinkActive="active">Assessment</a>
      <a mat-list-item routerLink="/tweet" routerLinkActive="active">Tweets</a>
     <a mat-list-item routerLink="/inform" routerLinkActive="active">Information</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color:#0094FF">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="assets/COVID-19.png" routerLink="/" class="img-fluid" style="max-height:50px;margin-left: 7vh;" >
      <span style="flex:1 1 auto"></span>
          <a *ngIf="!(isHandset$ | async)" class="link" routerLink="/" routerLinkActive="active">Home</a>

    <a *ngIf="!(isHandset$ | async)" class="link" routerLink="/index" routerLinkActive="active">Assessment</a>
    <a *ngIf="!(isHandset$ | async)" class="link" routerLink="/tweet" routerLinkActive="active">Tweets</a>
   <a *ngIf="!(isHandset$ | async)"  class="link"routerLink="/inform" routerLinkActive="active">Information</a>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
