<body style="height: 100%">
    <div class="row" style="margin-top:10vh;">
    <div class="col-md-3 x" style="padding: 0;">
<button class="btn active">Overview</button><br>
<button class="btn">Symptoms</button><br>
<button class="btn">Prevention</button><br>
<button class="btn">Treatment</button><br>
<button class="btn">Statistics</button><br>
    </div>
    <div class="main-content col-md-6">
        <h2 class="content">
            Severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2) is the virus strain that causes coronavirus
            disease 2019 (COVID-19), a respiratory illness. It is colloquially known as the coronavirus, and was
            previously referred to by its provisional name 2019 novel coronavirus (2019-nCoV). SARS-CoV-2 is a
            positive-sense single-stranded RNA virus. It is contagious in humans, and the World Health Organization
            (WHO) has designated the ongoing pandemic of COVID-19 a Public Health Emergency of International
            Concern.Because the strain was first discovered in Wuhan, China, it is sometimes referred to as the Wuhan
            virus or Wuhan coronavirus. Since the WHO discourages the use of names based upon locations such as MERS,
            and to avoid confusion with the disease SARS, it sometimes refers to SARS-CoV-2 as "the COVID-19 virus" in
            public health communications, instead of Wuhan coronavirus or Wuhan-CoV.The general public frequently calls
            both SARS-CoV-2 and the disease it causes "coronavirus", but scientists typically use more precise
            terminology.
        </h2>


    </div>
            <div class="col-md-3"><img src="assets/COVID-19.png" class="img-fluid"></div>
</div>
    
</body>