<div class="row blue" style="position: absolute;right:0;padding:0;height:90vh;">
    <div class="col-md-2"></div>
    <div class="col-md-10" style="padding:0px;"><img src="assets/back.svg" class="img-fluid blue"></div>
</div>
<body>
   
    <div class="row" style="padding-top:15vh;padding-left:3vh">
        <div class="col-md-6">
<h1 style="font-size: 10vh;font-weight: 600;">COVID-19</h1>
<h2 style="font-size: 5vh;font-weight: 400;margin-top:7vh;">Self-Assesment</h2>
<p style="font-size: 2vh;font-weight: 400;margin-top:7vh;">
    <em>If you think you have coronavirus (COVID-19) symtoms or have been in close contact with someone who has it,
        use this self-assesment to help determine how to seek further care.
    </em></p>
<h5 style="font-size: 2vh;font-weight: 400;margin-top:7vh;">Severe symtoms</h5>
<h6>
    If you are having difficulty in breathing or experiencing other severe symptoms, call 911 immediately. Advise
    them of your symptoms and travel history.

</h6>
<button style="margin-top:5vh" routerLink="/assessment" class="button button2">Start Self-assesment</button>

        </div>
        <div class="col-md-6 d-flex justify-content-center align-content-center">

            <img src="assets/COVID-19.png" style="max-height: 50%;" alt="logo" class="img-fluid" align="right"></div>
    </div>

   
    
</body>