<body style="background-color:#0094FF;height:93vh;">
  <div class="row d-flex justify-content-center" style="padding-top:10vh;padding-bottom:10vh;">
    <img src="assets/COVID-19.png" class="img-fluid" style="max-height:60vh;" />
    </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center"><button>Assessment</button></div>
      <div class="col-md-3 d-flex justify-content-center"><button>Information</button></div>
      <div class="col-md-3 d-flex justify-content-center"><button>Updates</button></div>
      <div class="col-md-3 d-flex justify-content-center"><button>About Us</button></div>
    </div>
    </div>
  </body>
